@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.header{
    height: 10rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7f5ff;
}

.header-logo{
    height: 7rem;
}

.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}

.navlist-item{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    transform: all 0.3s;
}

.navlist-item:hover{
    color: #364fc7;
}

.hamburger{
    display: none;
    background:transparent;
    cursor: pointer;
}

#menu-btn,
#close-btn{
    /* height: 4rem; */
    /* width: 4rem; */
    color: #212529;
    font-size: 3rem;
}

#close-btn{
    display: none;
}

.hero-section,
.service-section{
    padding: 9rem 0;
    background-color: #a5d8ff;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.service-section{
    background-color: #f3f0ff;
}

.section-p{
    font-size: 3rem;
}


/* Responsive code */

@media (max-width: 980px) {
    .hamburger{
        display: block;
        z-index: 999;
    }

    .header{
        position: relative;
    }

    .header-logo{
        /* width: 40%; */
        height: 40%;
        transition: all 0.5s linear;
    }

    .nav-bar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* to get transition */
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .active .nav-bar{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        pointer-events: all;
    }

    .active .hamburger #close-btn{
        display: block;
    }

    .active .hamburger #menu-btn{
        display: none;
    }
}