* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&w=6000");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container {
    background-color: #fff;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

input {
    width: 90%;
    height: 35px;
    font-style: italic;
}

#inputPassword {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 15px;
    /* font-weight: 500; */
    color: #fff;
    background-color: #1c96d5;
    border: none;
    border-radius: 10px;
}